In [41]:
import pandas as pd
import numpy as np

In [42]:
#read the datasets and view the first five rows
reactions = pd.read_csv("Reactions (1).csv")
reactiontypes = pd.read_csv("ReactionTypes (1).csv")
content = pd.read_csv("Content (1).csv")
profile= pd.read_csv('Profile (1).csv')
session = pd.read_csv('Session (1).csv')

reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [43]:
#drop the unnamed column
content.drop('Unnamed: 0', axis=1, inplace=True)
reactions.drop('Unnamed: 0', axis=1, inplace=True)
reactiontypes.drop('Unnamed: 0', axis=1, inplace=True)
profile.drop('Unnamed: 0',axis=1,inplace=True)
session.drop('Unnamed: 0',axis=1,inplace=True)

In [44]:
#merge the datasets
df = content.merge(profile, how='left', on='User ID')
df = df.merge(session, how='left', on='User ID')
df = df.merge(reactions, how='left', on='Content ID')
df = df.rename(columns={'Type_x':'Cont_Type','Type_y':'Type'})
df = df.merge(reactiontypes, how='left', on='Type')
df = df.rename(columns={'Type':'React_Type'})

df

,Content ID,User ID_x,Cont_Type,Category,URL,Interests,Age,Device,Duration,User ID_y,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,NaN,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,"['education', 'studying']",13,Microsoft,10,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01,negative,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25568,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48,negative,10.0
25569,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02,positive,45.0
25570,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28,NaN,interested,2020-09-12 03:54:58,positive,30.0
25571,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31,negative,12.0
25572,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...,"['culture', 'science', 'science']",38,Apple,28,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11,positive,70.0

In [45]:
#analyse the df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25573 non-null  object
 1   User ID_x   25573 non-null  object
 2   Cont_Type   25573 non-null  object
 3   Category    25573 non-null  object
 4   URL         20857 non-null  object
 5   Interests   25573 non-null  object
 6   Age         25573 non-null  int64
 7   Device      25573 non-null  object
 8   Duration    25573 non-null  int64
 9   User ID_y   22534 non-null  object
 10  React_Type  24573 non-null  object
 11  Datetime    25553 non-null  object
 12  Sentiment   24573 non-null  object
 13  Score       24573 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 2.9+ MB

In [46]:
#count how many null values are present
df.isnull().sum()

Content ID       0
User ID_x        0
Cont_Type        0
Category         0
URL           4716
Interests        0
Age              0
Device           0
Duration         0
User ID_y     3039
React_Type    1000
Datetime        20
Sentiment     1000
Score         1000
dtype: int64

In [47]:
#drop the columns with null values
df.drop(['URL','Interests', 'User ID_y'],axis=1,inplace=True)

In [48]:
df.head()

,Content ID,User ID_x,Cont_Type,Category,Age,Device,Duration,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13,Microsoft,10,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13,Microsoft,10,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13,Microsoft,10,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13,Microsoft,10,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,13,Microsoft,10,disgust,2021-01-06 19:13:01,negative,0.0

In [49]:
df = df.dropna()

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25572
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   User ID_x   24573 non-null  object
 2   Cont_Type   24573 non-null  object
 3   Category    24573 non-null  object
 4   Age         24573 non-null  int64
 5   Device      24573 non-null  object
 6   Duration    24573 non-null  int64
 7   React_Type  24573 non-null  object
 8   Datetime    24573 non-null  object
 9   Sentiment   24573 non-null  object
 10  Score       24573 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 2.2+ MB

In [51]:
df['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [53]:
#address the reapted column (especially for categorical varibale)!!
df['Category']= df['Category'].replace('"', '', regex=True)
df['Category']=df['Category'].str.lower()

C:\Users\Sinenhlanhla Persona\AppData\Local\Temp\ipykernel_5496\2114199456.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category']= df['Category'].replace('"', '', regex=True)
C:\Users\Sinenhlanhla Persona\AppData\Local\Temp\ipykernel_5496\2114199456.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category']=df['Category'].str.lower()

In [54]:
df['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [56]:
df.to_excel('datamodel.xlsx', index = False)